<h2>Lista de empleados</h2>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{ employee.name }}</td>
    <td>{{ employee.lastname }}</td>
    <td>{{ employee.address }}</td>
    <td>{{ employee.phone }}</td>
    <td>
      <button (click)="deleteEmployee(employee.key)">Borrar</button>
      <button (click)="updateEmployee(employee.key)">Actualizar</button>
    </td>
  </tr>
</table>
